#!/bin/sh

# Shell aliases
alias ll='ls -ahlFG'
alias d='cd ~/Downloads'

alias ..='cd ..'
alias ....='cd ../..'

# Git aliases
alias ga='git add'
alias gau='git add -u'
alias gs='git status'
alias gc='git checkout'
alias gcm='git checkout $(git rev-parse --abbrev-ref origin/HEAD | sed "s@^origin/@@")'
alias gp='git pull'
alias gd='git diff'
alias gds='git diff --staged'
alias gl='git log'
alias lg='git log --all --graph --oneline'
alias gf='git fetch'
alias gfp='git fetch --prune'
alias grc='git rebase --continue'
alias gcpc='git cherry-pick --continue'
alias grom='git rebase $(git rev-parse --abbrev-ref origin/HEAD)'
alias amend='git commit --amend --no-edit'
alias force='git push --force-with-lease'

# Neovim
alias vi=nvim
alias vim=nvim

# Python
alias py=python
alias python='uv run python'

# Yarn
alias yt='yarn test'
